c{%extends "SKCMSAdminBundle:Element/Template:admin-list.html.twig"%}

{#{%block adminContent%}#}

{#<a href="{{path('sk_admin_edit',{entity:entityParams.name})}}" class="btn btn-large btn-primary">Créer {{entityParams.beautyName}}</a>#}

{%block header2 %}Vos commandes{%endblock%}

{%block th %}
    <th>Date</th>
    <th>Client</th>
    <th>Montant</th>
    <th>Statut</th>
    <th>Actions</th>
    
{%endblock%}

{%block tr %}
    <td>{{entity.date|date('d-m-Y')}}</td>
    <td>{{entity.user.email}}</td>
    <td>{{entity.feeHTVA}} €</td>
    {%if entity.status is not null%}
    <td style="background:{{entity.status.color}};">{{entity.status.name}}</td>
    {%else%}
        <td></td>
    {%endif%}
    <td class="center">
        <a class="btn btn-success" href="{{path('sk_admin_eshopedit',{orderId:entity.id})}}">
                <i class="icon-zoom-in icon-white"></i>  
                View                                            
        </a>
        <a class="btn btn-danger btn-setting" data-content="Voulez vous vraiment supprimer cette entité ?" data-title="Confirmation de suppression" data-confirm="Oui" href="{{path('sk_admin_deleteorder',{'orderId':entity.id})}}">
                <i class="icon-trash icon-white"></i> 
                Delete
        </a>

    </td>
{%endblock%}

{%block createLink %}{%endblock%}
